/*
!/*.go
!/*.mod
!/*.sum
!/*.sh
!/.git*
!/*/
/node_modules
/vendor
/pkg
/cache


/public/hot
/public/storage
/public/vendor
/public/css/web.css
/public/files
/storage/fonts
/storage/area_qr
/tools/php-cs-fixer/vendor
/docker-scripts/docker.pid
/public/js/app.js.LICENSE.txt
/public/order/js/*.js*
/public/order/css/*.css
/public/order/mix-manifest.json
/public/mix-manifest.json
/docker-scripts/docker-compose-production.yml
package-lock.json

.htpasswd
*.*.conf
*.key
.env
.env.backup
.cache
.composer
.htaccess
.git-credentials
.config
.phpunit.result.cache
.php-cs-fixer.cache
*.phar
*.pub
update-channel
auth.json
config.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
.vscode/
.DS_Store
**/.DS_Store
.AppleDouble
sftp-config.json
